{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<head>

</head>
<body>
    <h1 style="font-weight: bolder; padding-bottom: 20px; text-decoration: underline;">Home</h1>
        <div style="height: 100%; margin-bottom: 200px; border-radius: 20px; border-color: yellow; border-style: double; background-image: radial-gradient(circle, #bddff6, #a2c7dd, #87b0c4, #6d99ab, #538393, #3f798d, #296e87, #006482, #00628d, #005e98, #0059a0, #1152a6);">
            <h2 style="text-align: center;">Meditation</h2>
            <p style="font-size: large;">At iMeditate, we believe in the power of meditation as a vital tool for enhancing well-being and productivity. In today's fast-paced world, taking a moment to pause and center oneself can significantly reduce stress, improve focus, and foster creativity. Regular meditation practice not only cultivates mindfulness but also promotes emotional resilience, enabling individuals to navigate challenges with greater ease. By integrating meditation into your daily routine, you can experience a profound shift in your mental clarity and overall quality of life. We are committed to supporting your journey toward greater peace and balance, and we encourage you to explore the transformative benefits of meditation with us.</p>
            <div style="display: flex; flex-direction: column;"         class="container">
            </div>
        </div>
    <div class="container" style="-ms-flex-align: center;">
        <!--  <img src="{% static 'img/coffee.webp' %}" class="image-container"> -->
    </div>
    
    

{% endblock content %}